# Go binary
/bin/
/obj/

/# Dependency directories
/vendor/

# Go workspace file
*.workspace

# Ignore Go's build cache
.go-build/

# Ignore test result and coverage files
*.test
*.out
*.coverage

# Ignore IDE configuration files (if using VS Code)
.vscode/

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore Go modules cache
.golangci-lint-cache/

# Ignore Go module vendor directory (if any)
vendor/

# Ignore other temporary files
*.log
